body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif black;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.answers{
    margin-left: 560px;
}

.drop{
    font-size: 20px;
}